*{
    padding: 0%;
}

#nav{
    /* border: 2px solid; */
    height: 75px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

#ol1{
    /* border: 2px solid; */
    height: inherit;
    list-style: none;
    display: flex;
}

#ol11{
    border: 1px solid;
    border-radius: 5px;
    height: inherit;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 325px;
    padding: 10px 5px;
    margin-left: 50px;
}

#ol11 input{
    font-size: 15px;
    width: 300px;
    border: none;
}

#ol2{
    /* border: 2px solid; */
    height: 75px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    margin-top: 0%;
    font-size: 18px;
}

#ol2 li{
    border-right: 2px solid rgb(206, 206, 222);
    height: 30px;
    padding: 15px 15px 5px 15px;
}

#ol2 svg{
   font-size: 10px;
   height: 20px;
}

#ol3{
    /* border: 2px solid; */
    height: inherit;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 170px;
}

#ol3 li svg{
    height: 20px;
    font-weight: bold;
}

#sub-nav{
    height: 55px;
    border-top: 1px solid rgb(206, 206, 222) ;
    border-bottom: 1px solid rgb(206, 206, 222) ;
}

#ol4{
    /* height: 50px;
    border: 1px solid rgb(206, 206, 222) ; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #353543;
}

#sec4{
    /* border: 2px solid; */
    margin: auto;
    margin-top: 45px;
    width: 83%;
    
    background-color: rgb(248, 248, 255);
}
#div1{
    border: 1px solid #fff;
    height: 336px;
    width: 570px;
    padding: 0px 0px 5px 35px;
}

#div1 h1{
    /* border: 2px solid; */
    color: rgb(53, 53, 67);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    font-family: "Mier bold";

}

#div2{
    /* border: 2px solid; */
    height: 50px;
    width: 450px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

#ol5{
    list-style: none;
    /* border: 2px solid; */
    border-right: 1px solid;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px 45px 5px 10px;
}

#ol5 li{
    /* border-right: 1px solid;
    height: 20px; */
    line-height: 1.3;
}

#ol5 li img{
    border: 1px solid rgb(206, 206, 222);
    border-radius: 100%;
}

#ol6{
    list-style: none;
    /* border: 2px solid; */
    border-right: 1px solid;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px 55px 5px 10px;
}

#ol6 li{
    /* border-right: 1px solid;
    height: 20px; */
    line-height: 1.3;
}

#ol6 li img{
    border: 1px solid rgb(206, 206, 222);
    border-radius: 100%;
}

#ol7{
    list-style: none;
    /* border: 2px solid; */
    /* border-right: 1px solid;
    height: 30px; */
    display: flex;
    align-items: center;
    padding: 5px 55px 5px 10px;
}

#ol7 li{
    /* border-right: 1px solid;
    height: 20px; */
    line-height: 1.3;
}

#ol7 li img{
    border: 1px solid rgb(206, 206, 222);
    border-radius: 100%;
}

#div3{
    padding: 5px;
}

#ol8{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid;
    width: 290px;
    background-color: rgb(159, 32, 137);
    border-radius: 5px;
}

#ol8 li{
    padding: 5px 15px;
}

button{
    border: none;
    background: none;
}

#ol8 li button{
    font-size: 16px;
    font-weight: bold;
}

#i1{
    position: absolute;
    top: 29%;
    left: 53%;
    width: 520px;
    height: 345px;
}

#div4{
    /* border: 2px solid; */ 
    width: 83%; 
    margin: auto;
    margin-top: 5%;
    /* display: flex; */
}

#div4 h1{
    text-align: center;
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
    color: rgb(53, 53, 67);
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

/* hr{
    width: 20%;
} */

#div5{
    /* border: 2px solid; */
    height: 550px;
    background-image: url("./assests/1678691670429_1200.webp");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    /* width: 83%; */
}

#i2{
    /* margin-top: 50px; */
    margin: 50px 10px;
    /* height: 500px; */
    width: 40%;
}

#i3{
    /* height: 300px; */
    /* margin-top: 10px; */
    position: absolute;
    /* bottom: 5%; */
    top: 900px;
    left: 590px;
}

#i4{
    position: absolute;
    top: 900px;
    left: 905px;
    padding-right: 10px;
}

#div6{
    /* border: 2px solid; */
    height: 550px;
    background-image: url("./assests/1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    position: relative;
    top: 70px;
}

#i5{
    position: absolute;
    top: 270px;
    left: 85px;
}

#i6{
    position: absolute;
    left: 35%;
    top: 15%;
}

#i7{
    position: absolute;
    left: 55%;
    top: 15%;
}

#i8{
    position: absolute;
    left: 75%;
    top: 15%;
}

#i9{
    position: absolute;
    left: 37%;
    top: 75%;
}

#i10{
    position: absolute;
    left: 56%;
    top: 75%;
    height: 55px;
}

#i11{
    position: absolute;
    left: 77%;
    top: 75%;
}

#div7{
    /* border: 2px solid; */
    height: 550px;
    background-image: url("./assests/new.webp");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    position: relative;
    top: 140px;
}

#i12{
    position: absolute;
    top: 270px;
    left: 95px;
}

#i13{
    position: absolute;
    left: 37%;
    top: 15%;
}

#i14{
    position: absolute;
    left: 57%;
    top: 15%;
}

#i15{
    position: absolute;
    left: 77%;
    top: 15%;
}

#i16{
    position: absolute;
    left: 40%;
    top: 75%;
}

#i17{
    position: absolute;
    left: 60%;
    top: 75%;
}

#i18{
    position: absolute;
    left: 80%;
    top: 75%;
}

#div8{
    /* border: 2px solid; */
    height: 550px;
    background-image: url("./assests/9.webp");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    position: relative;
    top: 140px;
    overflow-x: hidden;
}

h4{
    color: rgb(85, 133, 248);
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    font-family: "Mier book";
    /* margin: 0px 0px 16px;
    padding: 0px; */
    /* overflow-x: hidden; */
    position: relative;
    left: 69%;
    top: 5%;
}

#div8 h1{
    color: rgb(159, 32, 137);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    font-family: "Mier bold";
    position: relative;
    left: 21%;
}

#i19{
    height: 45px;
    width: 170px;
    border-radius: 5px;
    position: relative;
    left: 57%;
    top: 3%;
}

#i20{
    height: 45px;
    width: 170px;
    border-radius: 5px;
    position: relative;
    left: 58%;
    top: 3%;
}

/* hover */

#nav:hover{
    cursor: pointer;
}

#sub-nav:hover{
    cursor: pointer;
}

#ol8:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}